.search-module-card {
  animation: show-animation 0.3s linear 0.3s forwards;
}

.app-header,
.stock-list-wrapper {
  animation: show-animation 0.3s linear 0s forwards;
}

.sweet-alert > h2 {
  display: none;
}

.sweet-alert > h2 {
  display: none;
}
.sweet-alert .MuiButton-root {
  min-width: 0;
}

.volume-input {
  text-align: center;
}

@keyframes show-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
