.footer {
  font-size: 12px;
}

.footer div {
  box-sizing: border-box;
  transition: 0.3s;
  animation: footer-animation 0.3s linear 0.6s forwards;
}

.search-module-card {
  animation: show-animation 0.3s linear 0.3s forwards;
}

.app-header,
.stock-list-wrapper,
.show-position {
  animation: show-animation 0.3s linear 0s forwards;
}

.sweet-alert > h2 {
  display: none;
}

.sweet-alert > h2 {
  display: none;
}
.sweet-alert .MuiButton-root {
  min-width: 0;
}

.transaction-card-header {
  font-weight: 500;
  margin: 0;
  font-size: 22px;
  transition: 0.3s;
}

.volume-input {
  text-align: center;
}

@keyframes show-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes footer-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 400px) {
  .transaction-card-header {
    font-size: 27px;
  }
  .footer {
    font-size: 16px;
  }
}
